body {
  font-family: var(--ff-secondary);
  background: #f1f5f8;
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}
.section
{
  border: 4px;
  border-color: red;
  background: #fff;
}
.section h3
{
  padding-top: 5px;
}

.section-center {
  text-align: center;
    width:450px;
    height: 400px;
    margin: 40px;
    border: 4px;
    border-color: red;
    background: #fff;
}
/* .contain{
  padding-top: 100px;
} */


